.site-nav {
  position: relative;
  top: 0;
  background: linear-gradient(to bottom right, $pink, $beige);
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .title {
    color: $title;
    text-shadow: -2px 3px gray;
    letter-spacing: 6px;
    font-weight: 700;
    font-size: 24px;
  }
}
