.results-container {
  padding: 20px;
  background-color: $results;
  min-height: 400px;

  #results {
    display: none;

    &.active {
      display: block;
    }
  }

  .eyebrow {
    display: inline-block;
    color: #999;
  }

  .now-playing {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  .now-playing-img {
    padding-right: 10px;
    display: none;

    &.active {
      display: block;
    }
  }

  .now-playing-title {
    font-weight: 400;
    padding-top: 20px;
    display: none;

    &.active {
      display: block;
    }
  }

  .chart-container {
    padding: 10px;
  }
}
