#sidebar {
  .song-item {
    background: linear-gradient(to bottom right, $turquoise, $green);
    padding: 5px 10px;
    display: flex;

    &:first-child {
      padding-top: 10px;
    }

    &.active, &:hover {
      background: $gray;
      color: white;
      cursor: pointer;
    }
  }

  .song-item > * {
    pointer-events: none;
  }

  .song-text {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .song-img {
    width: 40px;
    height: 40px;
  }

  .song-artist {
    font-size: 12px;
    padding-top: 6px;
  }
}
