.waveform-container {
  margin: 40px 0;

  .waveform-buttons {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .paused {
    display: none;

    &.active {
      display: inline;
    }
  }

  .playing {
    display: none;

    &.active {
      display: inline;
    }
  }

  .spotify-btn {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
  }
}
