$aqua: #c5f7f0;
$gray: #a9c2c9;
$lightpurple: #8e8ca3;
$purple: #72577c;
$darkpurple: #562155;
$lightpink: #ff9e9d;
$pink: #ff3d7f;
$beige: #dad8a7;
$turquoise: #3fb8af;
$green: #7fc7af;

$title: #fec2c9;
